# EXAMPLE FILE
# copy this config to a .env file and adjust the env variables

# env
NODE_ENV="development"
PORT="3000"

# database
DATABASE_URL="postgresql://admin:password@localhost:5432/url-shortening?schema=public"

# shorten
SHORT_URL_BASE="http://localhost:3000"
SHORT_URL_CACHE_TTL_SECONDS=300

# redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Rate limit
THROTTLE_IP_TTL=60000
THROTTLE_IP_LIMIT=100
THROTTLE_GLOBAL_TTL=60000
THROTTLE_GLOBAL_LIMIT=100000