services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url-shortening
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d url-shortening"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:8
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  redisinsight:
    image: redis/redisinsight
    restart: always
    ports:
      - "5540:5540"

  migration:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    command: /bin/sh -c "pnpm prisma migrate deploy && node dist/prisma/seed.js"
    environment:
      NODE_ENV: development
      DATABASE_URL: "postgresql://admin:password@postgres:5432/url-shortening?schema=public"
    depends_on:
      postgres:
        condition: service_healthy

  url-shortening:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: "postgresql://admin:password@postgres:5432/url-shortening?schema=public"
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
      SHORT_URL_BASE: "http://localhost:3000"
      SHORT_URL_CACHE_TTL_SECONDS: 300
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migration:
        condition: service_completed_successfully